*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Top Announcement */
.topAnnounce{
    text-align: center;
    padding: 10px 10px;
    background-color: rgb(86, 36, 208);
    color: white;
}

/* Navigation Bar*/
header{
    padding: 10px 10px;
    box-shadow: 2.5px 2.5px 5px gray;
}

.logo{
    cursor: pointer;
    max-width: 100px;
    min-width: auto;
    max-height: 40px;
    margin-top: 5px;
}

#searchButton{
    border-style: none;
    max-width: 25px;
    max-height: 24px;
    margin-top: 20px;
}

/* Big Navigation Bar*/
.navBig{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.navBig nav{
    display: inline-flex;
    flex-wrap: nowrap;
}

.navBig a{
    display: inline-flex;
    flex-wrap: nowrap;
    margin-left: 40px;
}

.navBig a, button{
    cursor: pointer;
}

.navBig a:hover{
    color: rgb(86, 36, 208);
}

#searchForm{
    min-width: 10vw;
    display: inline-flex;
    margin-left: 80px;
}

.search{
    min-width: 10vw;
    border-radius: 8vw;
    padding: 10px 130px;
    text-align: left;
}

.cart img{
    display: inline-block;
    max-width: auto;
    max-height: 25px;
    border: none;
}

.login > button{
    padding: 9px 20px;
    background-color: white;
    border-width: 1px;
    border-radius: 0px;   
}

.login > button:hover{
    background-color: rgb(224, 224, 224);
}

.signup > button{
    padding: 9px 20px;
    background-color: black;
    color: white;
    border-width: 1px;
    border-radius: 0px;   
}

.lang img{
    display: inline-block;
    max-width: 18px;
    border: none;
}

.lang > button{
    padding: 6px 10px;
    background-color: white;
    border-width: 1px;
    border-radius: 0px;   
}

.lang > button:hover{
    background-color: rgb(224, 224, 224);
}

/* Small Navigation Bar*/
.navSmall{
    display: none;
}

.navButton{
    cursor: pointer;
    max-width: 40px;
}

.smallWall{
    display: none;
}

.wall{
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    min-width: 1350px;
    max-width: 1350px;
    min-height: 20px;
    margin-left: 93px;
    background-color: rgb(237, 237, 237);
}

.note{
    box-sizing: border-box;
    box-shadow: 0.5px 0.5px 5px gray;
    max-width: 150vw;
    max-height: 9vw;
    margin: 100px 0 0 80px;
    padding: 10px 0 10px 35px;
    border: 1px solid azure;
    background-color: white;
}

.note h2{
    font-size: 24px;
}

.note p{
    font-size: 15px;
}

.getStarted{
    float: right;
    max-width: 40vw;
    height: auto;
    margin: 0 0 15px 300px;
}

/* Adjusting small screen settings.*/
@media (min-width: 480px) and (max-width: 1000px){
    .navBig{
        display: none;
    }
    .navSmall{
        display: inline;
    }
    .searchIcon img{
        max-width: 25px;
        margin-right: 10px;
    }
    .navSmall {
        display: flex;
        justify-content: space-between;
    }
    .cart img{
        min-width: auto;
    }
    .wall{
        display: none;
    }
    .getStarted{
        display: block;
        max-width: 70%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    .smallWall{
        display: flex;
        flex-direction: column;
        min-height: 15px;
    }
    .note{
        min-width: 70%;
        max-height: 300px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .note h2{
        font-size: 4vw;
    }
    .note p{
        font-size: 1.8vw;
    }
}

.nav-item active{
    color: black !important;
}

/* Adjusting Sliders */

.carousel-control-prev-icon, .carousel-control-next-icon{
    width: 4vw !important;
    height: 4vw !important;
}

@media (min-width: 1511px){
    #oneSlider, #twoSlider, #threeSlider, #fourSlider{
        display: none;
    }
    #fiveSlider{
        display: inline;
    }
}

@media (min-width: 1261px) and (max-width: 1511px){
    #oneSlider, #twoSlider, #threeSlider, #fiveSlider{
        display: none;
    }
    #fourSlider{
        display: inline;
    }
}

@media (min-width: 1012px) and (max-width: 1261px){
    #oneSlider, #twoSlider, #fourSlider, #fiveSlider{
        display: none;
    }
    #threeSlider{
        display: inline;
    }
}

@media (min-width: 762px) and (max-width: 1012px){
    #threeSlider, #oneSlider, #fourSlider, #fiveSlider{
        display: none;
    }
    #twoSlider{
        display: inline;
    }
}

@media (max-width: 761px){
    #threeSlider, #twoSlider, #fourSlider, #fiveSlider{
        display: none;
    }
    #oneSlider{
        display: inline;
    }
}

.courses{
    margin: 100px;
}

.courses > ul > li{
    color: gray;
}

.courses > ul > li:hover{
    color: black;
}

.courses ul{
    list-style: none;
}

.courses li{
    display: inline-block;
    padding-right: 20px;
}

.exploreBox{
    box-sizing: border-box;
    width: 102%;
    height: 100%;
    border: 1px solid black;
    padding: 35px 0px 0px 35px;
}


.exploreBox > h2{
    font-size: 22px;
}

.exploreBox > p{
    max-width: 800px;
}

.exploreBox button{
    padding: 9px 20px;
    background-color: white;
    border-width: 1px;
    border-radius: 0px;  
}

.exploreBox button:hover{
    background-color: rgb(224, 224, 224);
}

.exploreBox ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
}

#coursesList li{
    cursor: pointer;
}

.carousel-control-prev, .carousel-control-next{
    background:none !important;
}

.courseImage{
    min-width: 230px;
    max-width: 230px;
}

.courseTitle{
    max-width: 230px;
    font-size: 15px;
}

.authors{
    max-width: 230px;
    font-size: 12px;
    color: gray;
}

.rate > img{
    max-width: 100px;
    min-width: 100px;
}

.rate{
    font-size: 12px;
    color: gray;
}

.price{
    font-size: 15px;
}

/* Adjusting small mobile screen settings.*/
@media (max-width: 480px) {
    .courses{
        margin-left: 0;
        margin-right: 0;
    }
    .navBig{
        display: none;
    }
    .navSmall{
        display: inline;
    }
    .searchIcon img{
        max-width: 25px;
        margin-right: 10px;
    }
    .navSmall nav{
        display: flex;
        justify-content: space-between;
    }
    .cart img{
        min-width: auto;
    }
    .wall{
        display: none;
    }
    .getStarted{
        display: block;
        max-width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    .smallWall{
        display: flex;
        flex-direction: column;
    }
    .note{
        max-height: 800px;
        width: 90%;
        padding-left: 20px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .note h2{
        font-size: 6vw;
    }
    .note p{
        font-size: 4vw;
    }   
}

.col-xl-3, .col-lg-4{
    cursor: pointer;
}

 .active{
    color: black !important;
}