.popup{
    display: none;
    box-sizing: border-box;
    border: 1px solid rgb(214, 219, 224);
    width: 380px;
    min-height: 380px;
    padding: 15px 15px 15px 15px;
    text-align: left;
}

.updates{
    font-size: 13px;
    color: rgb(31, 163, 68);
    margin: 5px 0px 5px 0px;
}

.duration{
    font-size: 13px;
    color: gray;
    margin-bottom: 5px;
}

.intro{
    font-size: 16px;
    margin-bottom: 10px;
}

.learnList{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.learnList p{
    display: inline;
    font-size: 14px;
}

.learnList li{
    display: flex;
}

.icons{
    margin-right: 20px;
    width: 20px;
}

.addCart{
    border: none;
    padding: 15px 106px 15px 106px;
    background-color: rgb(164, 53, 240);
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#love{
    width: 50px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 6px 6px 6px 6px;
    border-radius: 50%;
    margin-left: 5px;
}

.popupButtons{
    display: flex;
    justify-content: center;
}